@font-face {
	font-family: Arial;
	src: url(Assets/Font/Arial.ttf);
}
@font-face {
	font-family: organic;
	src: url(Assets/Font/Organic_Elements.TTF);
}
@font-face {
	font-family: messenger;
	src: url(Assets/Font/Messenger-Texture.otf);
}
@font-face {
	font-family: sinhala;
	src: url(Assets/Font/Sinhala\ MN.ttc);
}

body,
html {
  width: 100%;
  height: 100%;
  
  /* background: url(Assets/Imgs/handsTomato1.jfif) no-repeat center center fixed;  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: messenger;
  background-image: url("Assets/Imgs/PNG/BackgroundIndex.png");
}


.row {
	align-content: center;
	text-align: center;
	margin-left: 15px;
	margin-right: 0px;
}

.slogan{
	font-size: 2rem;
}
h1 h2 {
	text-align: center;
	font-size: 4rem;
}
hr {
	border-color: #F05F44;
	max-width: 65px; 
	border-width: 3px;
}

.btn {
	font-size: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary {
	background-color: #F05F44;
	border-color: #F05F44;

}
.btn-primary:hover{
	background-color: #ee4b08;
	border-color:#ee4b08;
	border-width: 4px;
}

li {
	padding-left: 2em;
	padding-right: 2em;
	font-family: messenger;
	margin: 10px 0px;;
}

ul {
	position: relative;
    left: 50%;
    transform: translatex(-50%);
	
}
.border-right{
	border-right: black solid 1px;
}

a { 
	font-family: messenger;
	color: black;
}
a:hover {
	color: none;
	background-color: none;
}

.shopping-cart {
	width: 900px;
	height: 479px;
	margin: 0 auto;
	/* background-image: url('Assets/Imgs/feria.jpg'); */
	border-radius: 6px;
	font-family: messenger;
	display: flex;
	flex-direction: column;
	border: solid 2px #9ba896;
	border-collapse: collapse;
  }
  @media 
only screen and (max-width: 760px),
(min-device-width: 600px) and (max-device-width: px)  {

	/* Force table to not be like tables anymore */
	.shopping-cart { 
		display: block; 
	}
}	

  .title {
	  font-family: messenger;
	/* height: 60px; */
	/* border-bottom: 1px solid #E1E8EE; */
	padding: 20px 30px;
	color: #5E6977;
	font-size: 18px;
	font-weight: 400;
	padding: auto;
  }
  .title h2{
	  padding: auto;
  }
   
  .item {
	padding: 10px 30px;
	height: 80px;
	display: flex;
	border-bottom: solid 1px #5E6977 ;
  }
   

  .buttons {
	position: relative;
	padding-top: 30px;
	margin-right: 60px;
  }


  .image {
	margin-right: 50px;
  }
   
  .description {
	padding-top: 10px;
	margin-right: 60px;
	width: 115px;
  }
   
  .description span {
	display: block;
	font-size: 14px;
	color: #43484D;
	font-weight: 400;
	text-align: left;
  }
   
  .description span:first-child {
	margin-bottom: 5px;
  }
  .description span:last-child {
	font-weight: 300;
	margin-top: 8px;
	color: #86939E;
  }

  /* .quantity {
	padding-top: 20px;
	margin-right: 60px;
  }
  .quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
  } */

  /* button:focus,
  input:focus {
	outline:0;
  } */

  .total-price {
	width: 83px;
	padding-top: 27px;
	text-align: center;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
  }
  .image img {
	width: 50%;
  }
  .image,
  .quantity,
  .description {
	width: 100%;
	text-align: center;
	margin: 6px 0;
  }
  .buttons {
	margin-right: 20px;
  }
  /* img{
	max-width: 100%;
	max-height: 100%;
	display: block; 
  } */
  /* @media (max-width: 800px) {
	.shopping-cart {
	  width: 100%;
	  height: auto;
	  overflow: hidden;
	}
	.item {
	  height: auto;
	  flex-wrap: wrap;
	  justify-content: center;
	}
	.image img {
	  width: 50%;
	}
	.image,
	.quantity,
	.description {
	  width: 100%;
	  text-align: center;
	  margin: 6px 0;
	}
	.buttons {
	  margin-right: 20px;
	}
  }
  img{
	max-width: 100%;
	max-height: 100%;
	display: block; 
	/* remove extra space below image */
/* } */ 

/* .quantity {
	padding-top: 20px;
	margin-right: 60px;
  }
  .quantity input {
	-webkit-appearance: none;
	border: none;
	text-align: center;
	width: 32px;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
  } */
   
  /* button[class*=btn] {
	width: 30px;
	height: 30px;
	background-color: #E1E8EE;
	border-radius: 6px;
	border: none;
	cursor: pointer;
  }
  .minus-btn img {
	margin-bottom: 3px;
  }
  .plus-btn img {
	margin-top: 2px;
  } */
   
  /* button:focus,
  input:focus {
	outline:0;
  }

  .total-price {
	width: 83px;
	padding-top: 27px;
	text-align: center;
	font-size: 16px;
	color: #43484D;
	font-weight: 300;
  } */

  /* .shopping-cart .item {
	  justify-content: center;
  } */

 /* Style the tab */
.tab {
	/* border: 1px solid #ccc; */
	background-color: transparent;
	padding: 0;
	height: 100%;
	border-right: 1px solid #9ba896;
	background-size: cover;
	/* height: 1200px; */
  }
  tab button:hover{
	  opacity: 0.2;
  }


  /* Style the buttons that are used to open the tab content */
.tab button {
	display: block;
	color: black;
	padding: 22px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.3s;
	margin: 0;
	background-color: transparent;
	border-bottom: #5c513f;
  }
  
 
  
  /* Create an active/current "tab" class
  .tab button.active {
	background-color: ;
  } */
  /* .title {
	  display: inline-block;
  } */
  .tabcontent {
	  overflow: scroll;
		overflow-x: hidden;
		padding: 0;
  }
  .nav-item {
	  border-bottom: solid 3px #5c513f;
	  padding-bottom: 0px;
	  margin-bottom: 0px;
  }
  .navbar {
	  padding-bottom: 0px ;
	  margin-bottom: 0px;
  }
  #btnCarrito {
	  height: 5em;
	  width: 11em;
	  background-color: #9ba896;
	  border-radius: 40px;
  }
  #btnCarrito:hover {
	background-color: #243a1d;
  }
   .row-carrito {
	  margin-top: 10em;
	  font-size: large;
  }
  ::-webkit-scrollbar{
	width: 20px;
	background-color: tomato;
  }

  ::-webkit-scrollbar-thumb {
	background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
	background: #5c513f;
  }
  .totalDiv {
	  border: 2px solid #5c513f;
	  border-radius: 6px;
	  padding-bottom: 3px;
  }
/* .bufferino{
	background-image: url("Assets/Imgs/landing 2/logo.png");
	background-size: cover;
	background-position: top;
	width: 40px;
	height: 200px;
	padding: 0 300px;
} */
/* #linkproduct {
	width: 200px;
	height: 60px;
	border-radius: 30px;
	background-color: #243a1d;
	font-family: messenger;
	margin-bottom: 20px;
} */

.cover {
	margin-top: 160px;
}
.logo {
	height: 1000px;
	margin: auto;
	background-image: url(Assets/Imgs/logo.png); 
	background-size: cover;
}
.row a{
	/* margin-top: 350px; */
}
a img{
	
	height: 600px;
	width: 500px;
	padding-bottom: 100px;
	align-content: center;
	margin: auto;
}
.carousel{
	position: relative;
}
/* img{
	margin-top: 80px;
	max-width: 800px;
	max-height: 600px;
	display: inline-block;
} */
.carousel-inner img{
	width: 100%;
	height: 100%;
	
}
.carousel-inner{
	padding-bottom: 100px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
	height: 30%;
}
.carousel-caption{
	padding-top: 100px;
}
@media (min-width: 576px){
.col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 100%;
    max-width: 66.666667%;
}
}


#telefono{
	display: inline;
}
strong{
	color: #243a1d	;
}

h3{
	margin-top: 40px;
}
.tablinks2:hover{
	background-color: tomato;
}
.dropbtn{
	border-radius: 30px;
	/* padding: 1em; */
	background: transparent;
	outline:none;
}
.bolso{
	height: 2.5em;
	width: 2.5em;
	
}
span{
	margin: auto;
}
button:focus{
	
	outline: 0;
}
.addButton{
	border-radius: 30px;
}
.quantity{
	width: 2.5rem;
	border-radius: 10px 0 10px 0;
}


